/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400&family=Poppins:wght@400;60');
 */

/* universal operator */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins",sans-serif;
}
/* RAM unit */
html{
  font-size:62.5%;
}
/* body */
body{
  background-color:rgba(236, 210, 240, 0.947);
}
h1{
  font-size:3.2rem;
  margin:2rem;
  text-align:center;
}
h2{
  font-family:"IBM Plex Serif",serif;
  font-size:2.4rem;
  text-align:center
}
p{
  margin:2rem 0;
  color:rgba(21,19,60,0.5);
  font-weight:400;
  font-size:1.6 rem;
  display:inline-block;
}
/* span tag-to bold letter */
span{
  text-transform:capitalize;
  font-weight:bold;
}
.stories-div{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:4rem;
}
.card{
  min-width:20rem;
  width:40vw;
  padding:4rem;
  background-color:#ffffff;
  box-shadow:rgba(100,100,111,0.2)0px 7px 29px 0px;
  border-radius:0.5rem;
  color:#15133c;
  align-items: center;
}
.card-button{
  flex-direction:row;
  width:100%;
  display:flex;
  justify-content:space-between;
}
.card-button a{
  color:#ba92ec;
  font-weight:400;
  font-size:1.6rem;
}
.card-button a:last-child{
  color:rgb(238, 15, 15);
}

form{
  display:grid;
  place-items:center;
}
input{
  padding:1rem;
  min-width:40rem;
  font-size:2rem;
  text-transform:capitalize;
  border:none;
  border-bottom:0.2 rem solid #128ad4;
  outline:none;
}
.pagination-btn{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
button{
  text-align:center;
  padding: 15px 32px;
  border:none;
  border-style:hidden;
  font-size:1.4rem;
  background-color:#5216f8ed;
  color:hsl(146, 21%, 94%);
  margin:6rem;
  cursor:pointer;
  display:inline-block;
}
@media(max-width:998px){
  html{
    font-size:56%;
  }
  .card{
    min-width:45rem;
    padding:2.5rem;
  }
}
@media(max-width:768px){
  html{
    font-size:51%;
  }
  .card{
    min-width:35rem;
    padding:2rem;
  }
}
